.livro-card {
  background-color: #f5f5ff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 50, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s;
}

.livro-card:hover {
  transform: scale(1.02);
}

.livro-imagem {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.livro-detalhes {
  padding: 15px;
  color: #2c043b;
}

.livro-detalhes h3 {
  margin: 0 0 8px 0;
  font-size: 1.1rem;
  color: #2d2a87;
}

.livro-detalhes p {
  margin: 4px 0;
}

.preco {
  color: #053d07;
  font-weight: 900;
  margin-top: 8px;
}
