body{
    background:#050741;
    font-family:Arial;
    color:#d1b8e2
}

.cont{
max-width:700px;
margin:30px auto;
padding:10px
}

input,button{
    padding:8px;
    margin:4px 0;
    border-radius:6px;
    border:1px solid #A78BFA
}

button{background:#A78BFA;color:#fff;
    cursor:pointer}

table{
    width:100%;border-collapse:collapse
}

th,td{
    border:1px solid #6D28D9;
    padding:6px
}

thead{
    background:#A78BFA;color:#fff
}

.form{
    background:#E0D7FF;padding:20px;border-radius:10px;margin:20px 0
}
